<h1>Dashboard#my_orders_requests</h1>
<p>Find me in app/views/dashboard/my_orders_requests.html.erb</p>


<% @bills.each do |bill| %>
<%=  bill.total_price%>
<%=  bill.number_of_people%>
<%=  bill.status%>
<%=  bill.date%>
<% end %>



