// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;
$dblue-easyfork: #0E2C40;
$lblue-easyfork: #2E6C7D;
$lgrey-easyfork: #eef0f2;
$dgrey-easyfork: #848587;
$orange-easyfork: #F15025;
$pink-easyfork: #D30C7B;

