.spaced-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.light-form {
  border: none;
  box-shadow: 0.5px 0.5px 0.1px lightgrey;

}

#super_form {
  .form-group {
        @media screen and (max-width: 601px) {
      justify-content: space-around;
      font-size: 17px;
      display: grid;
    }
    display: flex;
    align-items: center;
    justify-content: space-between;
      input {
      @media screen and (max-width: 601px) {
      width: 100%;
      padding: 0px;
    }
      border: none;
      box-shadow: 4px 3px 11.8px -2px $lblue-easyfork;
      width: 58%;
      padding-left: 11px;
      background-color: #fffdfd;
    }
  }
}

