.cont-pills-menus-order{
  display: flex;
  align-self: flex-start;
  justify-content: space-between;
  height: 1000px;
  width: 100%;
}

.container-order{
  display: flex;
  flex-direction: column;
  height: 700px;
  width: 60%;
  background-color: pink;
  margin-left: 50px;
  margin-right: 50px;
}

.js-form-trigger .collection_radio_buttons {
  width: 100%;
}

.js-form-trigger input {
  display:none;
}

.container-show legend {
  display: none;
}
