.cont-pills-menus-order{


  display: flex;
  align-self: flex-start;
  justify-content: space-between;
  height: 1000px;
  width: 100%;
  padding-top: 40px;
}

.container-order{
   @media screen and (max-width: 601px) {


      width:90%;
      margin-left: auto;
      margin-right: auto;
      position: fixed;
      bottom: 6px;
      z-index: 1;
  }
  display: flex;
  align-self: flex-start;
  flex-grow: 1;
  flex-direction: column;
  // max-height: 1000px;
  width: 43%;
  background-color: white;
  box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
  margin-left: 50px;
  margin-right: 50px;
  padding: 20px;
  position: relative;
  font-weight: 300;
  margin-top: 8px;
}

.review-content p{
  font-weight: 300;
  font-family: Open Sans;
  font-style: italic;
  padding-bottom: 30px;
}
.container-order h2{
   @media screen and (max-width: 601px) {
    font-size: 30px;
    font-weight: 600;
  }
}
.container-order h3{
  color: $lblue-easyfork;
  font-weight: 500;
  font-size:20px;
  margin-top: -5px;
  margin-bottom: 30px;
}

.container-order i{
  color: $lblue-easyfork;
  padding-left: 10px;
  padding-right: 10px;
  &:hover{
    font-size: 22px;
  }
}

.order-i{
   @media screen and (max-width: 601px) {
    font-size:13px;
   }
  position: relative;

}

.price-i{
position: absolute;
left: 210px;
width: 65px;
font-weight: 500;
}

.js-form-trigger .collection_radio_buttons {
  width: 100%;
}

.js-form-trigger input {
  display:none;
}

.container-show legend {
  display: none;
}

.banner-bill {
  height: 35vh !important;
  margin-bottom: 20px;
}

.banner-bill h1 {
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.total-price-bill-show {
  display: flex;
  justify-content: space-between;
}

.total-price-bill-show u{
  @media screen and (max-width: 601px) {
     font-size:12px;
  }


}

.your-order {
  margin: 12px;
  margin-bottom: 25px;
}

@media screen and (max-width: 601px) {
  .container-order h2{
    padding: 0;
    margin-top: 0;
    margin-bottom: 5px;
    font-size:12px;

  }
}

/* input[type=submit] {
   border: none;
   background-repeat: no-repeat;
    background-size: 300px 100px;
}
*/

.submit-plus {
  @media screen and (max-width: 601px) {
    margin-right: -3px;
    margin-left: 4px;
     }
  box-shadow: none;
  border: none;
  width: 18px;
  margin-right: 15px;
  height:18px;
  text-decoration: none;
}

.submit-plus.active{
  box-shadow: none;
  border: none;
}

#bill_number_of_people{
  background-color: #fffdfd;
  box-shadow: 4px 3px 11.8px -2px $lblue-easyfork;
  border: none;
  width: 40px;
  @media screen and (max-width: 601px) {
   width: 40px;
   margin-right: 20px;
   margin-left: 10px;
  }
}

#bill_date_1i{
  background-color: white;
  border: none;
  box-shadow: 2px 2px 3px #0e2c40
}

#bill_date_2i{
  background-color: white;
  border: none;
  box-shadow: 2px 2px 3px #0e2c40;
  width: 70px;
    @media screen and (min-width: 601px) {
   width: 60px;

  }
}

#bill_date_3i{
  background-color: white;
  border: none;
  box-shadow: 2px 2px 3px #0e2c40;
}

#bill_date_4i{
  background-color: white;
  border: none;
  box-shadow: 2px 2px 3px $orange-easyfork;
}

#bill_date_5i {
  background-color: white;
  border: none;
  box-shadow: 2px 2px 3px $orange-easyfork;
}

#user-orders {
   @media screen and (max-width: 601px) {
    height: 100px;

  }
  flex-grow: 1;
  max-height: 200px;

}

.overflow-bill{
    @media screen and (max-width: 601px) {
      max-height: 200px;
  }
  overflow:scroll;
  max-height: 350px;
}

.menu-items-XS{
   @media screen and (min-width: 601px) {
  display: none
  }
  height: 528px;


}

.menu-items-LG{
  @media screen and (max-width: 601px) {
    display: none;
  }
}

/* MOBILE BUTTON SHOW MORE TO HIDE OR SHOW THE ORDER */
.read-more-state {
  display: none;
}

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
  content: 'Show more';
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'Show less';
}

.read-more-trigger {
  cursor: pointer;
  display: block;
  padding: 0 .4em;
  color: #666;
  font-size: .7em;
  line-height: 2;
  border: 1px solid #ddd;
  border-radius: .25em;
  text-align: center;
  margin-top:10px;
}
