// Specific CSS for your home-page

.banner h1{
  color: #555454;
  font-family: Rubik;
  font-weight: 700;
  font-size: 40px;
  margin-top: -30px;
}

.banner h4{
  color: #F15025;
  font-family: Rubik;
  font-weight: 700;
  font-size: 25px;
}


.container-home p{
  color:grey;
  padding-top: 40px;
}
