// Specific CSS for your home-page

.banner h1{
  color: #555454;
  font-family: Rubik;
  font-weight: 700;
  font-size: 40px;
  margin-top: -30px;
}

.banner h4{
  color: #F15025;
  font-family: Rubik;
  font-weight: 700;
  font-size: 25px;
}

.container-home h2{
  color: #00253C;
  font-family: Rubik;
  font-weight: 600;
  margin: 20px;
  margin-bottom: 30px;
}

.container-home p{
  font-family: Open Sans;
  color: grey;
  font-size: 20px;
}

.row-how-it-works {
  display: flex;
}

.card-how-it-works{
  margin: 30px;
}

.home-icons{
 font-size: 70px;
  color: #2E6C7D;
  opacity: 0.8;
  margin-bottom: 30px;
}
