.profile-container {
  background-color: rgba(250, 250, 250, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

.profile-pic img {
  border-radius: 50%;
}
