.main-container {
  display: flex;
  width: 100%;
}

@media screen and (min-width: 601px) {
  .map-container {
    display: flex;
    width: 30%;
    justify-content: center;
  }
  .card-container {
  width: 70%;
  }
  .map-container-XS{
    display: none;
  }
}

@media screen and (max-width: 601px) {
   .map-container {
    display: none;
  }
  .card-container {
  width: 100%;
  }
  .map-container-XS{
    display: flex;
    width: 90%;
    justify-content: center;
    margin: 10px auto;
  }
}

  #map {
  width: 100%;
  height: 100vh;
  position: sticky !important;
  top: 0px;
  padding: 10px;
  margin: 10px;
  margin-top: 20px;
  margin-right: 20px;
}

.card-home-category p{
  font-weight: 500;
  color: #4D4C4C;
  font-family: Open Sans;
  font-size: 15px;
}


.card-home-description p {
  font-weight: 300;
  color: #4D4C4C;
  font-family: Open Sans;
  font-size: 15px;
}
