.restaurant-main-info {
  display: flex;
  flex-direction: column;
}

  .restaurant-show-title {
    color: $dblue-easyfork;
  }

.call-to-action {
  display: flex;
  justify-content: space-around;
}

  .call-to-action-button {
    display: flex;
    align-items: center;
  }

.cont-pills-menus{
  display: flex;
  align-self: flex-start;
  justify-content: space-between;
  height: 1000px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}


.container-pills{
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 20%;
  color: #505050;
}

.container-pills a{
  color: #2E6C7D;
}

.menu-all {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  padding-bottom: 20px;
  border-top: 0.05px solid #D5CDCD;
  opacity: 0.8;
}

  .menu-all:hover {
    opacity: 1;
    cursor: pointer;
  }

.menu-picture {
  display: flex;
  align-items: center;
;
  width: 10%;
  height: 30px;
  margin-left: 50px;
  padding-top: 30px;

}

.menu-description {
 display: grid;
 color: $dblue-easyfork;
  width: 45%;
  height: 100px;
  padding-left: 20px;
  padding-top: 20px;
}


.menu-description h3 {
  display:table-cell;
  vertical-align:middle;
  width: 100%;
  color: #666262;
  font-size: 18px;
  font-weight: 300;
}
.menu-description p {
  display:table-cell;
  vertical-align:middle;
  width: 90%;
  color: #B1B1B1;
  font-size: 15px;
  font-weight: 100;
  margin-top: -20px;
}

.menu-price {
  display: flex;
  align-items: center;
  color:#505050;
  width: 10%;
  height: 100px;
  font-weight: 400;
  padding-top: 30px;
  font-size: 15px;
}

.menu-add {
  display: flex;
  align-items: center;
  width: 10%;
  margin-top: 32px;

}

.menu-title h4{
  color: #2E6C7D;
  padding: 20px;
  margin-left: 50px;
}

.container-show{
  background: #F1F1F1;
}

.btn-add-images{
  color: white !important;
}
