.row {
  display: flex;
  justify-content: space-between;
}

.restaurant-main-info {
  display: flex;
  flex-direction: column;
}

  .restaurant-show-title {
    color: $dblue-easyfork;
  }

.call-to-action {
  display: flex;
  justify-content: space-around;
}

  .call-to-action-button {
    display: flex;
    align-items: center;
  }

