<div class="box-search">
  <div class="row" style="margin-top: 10px">
    <div class="col-xs-12 col-md-4 col-sm-6">
      <div class="box-category">
        <div class="dropdown">
          <b
          utton id="js-trigger" class="btn btn-grey">Categories</button>
          <div id="myDropdown" class="dropdown-content">
            <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
            <a href="restaurants">All restaurants</a>
            <a href="restaurants?utf8=✓&query=French">French</a>
            <a href="restaurants?utf8=✓&query=Italian">Italian</a>
            <a href="restaurants?utf8=✓&query=Japanese">Japanese</a>
            <a href="restaurants?utf8=✓&query=Spanish">Spanish</a>
            <a href="restaurants?utf8=✓&query=Catalan">Catalan</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-4 col-sm-6">
      <div class="box-date">
        <input type="date" id="start" name="trip"
        value="2018-07-22"
        min="2018-01-01" max="2018-12-31" />
      </div>
    </div>
    <div class="col-xs-12 col-md-4 col-sm-6">
      <div class="box-date">
        <input type="text" name="timepicker" class="timepicker"/>
      </div>
    </div>

    <div class="col-xs-12 col-md-4 col-sm-6">
      <div class="box-search-window">
      </div>
    </div>
  </div>
</div>
