<div class="search-time-box">

  <div class="windows-search">
    <%= form_tag restaurants_path, method: :get, class: 'form-inline', style: 'display:inline !important' do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Type the name of a restaurant or category"
      %>
        <input type="submit" value="Search" id="button-search-home" class="btn btn-blue">
    <% end %>
  </div>

</div>
