<div class="bar">
  <div class="bar-components">
        <button id="js-trigger" class="btn btn-blue">Categories</button>
        <div id="myDropdown" class="dropdown-content">
          <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
          <a href="restaurants">All restaurants</a>
          <a href="restaurants?utf8=✓&query=French">French</a>
          <a href="restaurants?utf8=✓&query=Italian">Italian</a>
          <a href="restaurants?utf8=✓&query=Japonese">Japonese</a>
          <a href="restaurants?utf8=✓&query=Spanish">Spanish</a>
        </div>
  </div>
  <div class="windows-search">
    <%= form_tag restaurants_path, method: :get do %>
                    <%= text_field_tag :query,
                      params[:query],
                      class: "form-control",
                      placeholder: " Find a restaurant or category"
                    %>
    <% end %>
  </div>
</div>

