


<div class="container">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
        <div class="input-group">
                <div class="input-group-btn search-panel">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                      <span id="search_concept">Category</span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="French">French</a></li>
                      <li class="divider"></li>
                      <li><a href="Italian">Italian</a></li>
                      <li class="divider"></li>
                      <li><a href="Japonese">Japonese</a></li>
                      <li class="divider"></li>
                      <li><a href="Spanish">Spanish</a></li>


                    </ul>
                </div>

                <input type="hidden" class="form-control" name="search_param" value="all" id="search_param">

                  <%= form_tag restaurants_path, method: :get do %>
                  <%= text_field_tag :query,
                    params[:query],
                    class: "form-control",
                    placeholder: " Find a restaurant or category"
                  %>
                  <% end %>


                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
        </div>
  </div>
</div>

