<div class="about-us" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 50%), url('<%= image_path 'easyfork_cover_image.jpg' %>');">
  <div class="container container-about">
    <h1>About EasyFork</h1>
    <p>EasyFork was an idea from Xavi. The idea is to win some time and do not wait your order in a restaurant. It can be very usefull espacially when you are busy and do not have many time for lunch. Easyfork allows to enjoy a good meal in a nice restaurant even if you do not have time instead of eating a sandwich in your office. All you need is to book and order in advance.</p>
    <hr>
    <p>To create this website, a team of 4 peoples was dedicated</p>
    <p><b>Xavi Ros Martinez</b>: From Barcelona (Spanish), he studied marketing and join the bootcamp school Lewagon to learn how to code </p>
    <p><b>Anna Bendahan</b>: From Paris (French), she studied law and decided to learn how to code with the bootcamp school</p>
    <p><b>Benjamin de Boissieu</b>: From Lyon (French), mechanical engineer, he changed his career to become web developer with the school LeWagon</p>
    <p><b>Luca de Montis</b>: From Roma (Italien), Manager in hotels and restaurants, he became web developer thanks to the bootcamp school</p>
  </div>
</div>
