<div class="profile-container">
  <div class="profile-pic">
    <%= image_tag "#{@user.picture}", height: 100 %>
  </div>
  <div class="profile-info">
    <h3> First Name: </h3>  <%=  "Luca" %>
    <h3> Last Name: </h3>  <%=  "de Montis" %>
    <h3> Email: </h3>  <%=  @user.email  %>
  </div>
</div>
