<div>
  <p> Search bar</p>
</div>

<div class="main-container">
  <div class="card-container">
    <div class="row">
      <% @restaurants.each do |restaurant| %>
       <div class="col-xs-12 col-md-6">
          <div class="card">
            <div class="restaurant-title-wrapper">
              <h2> restaurant.name.upcase </h2>
            </div>
            <div class="card-category">
              <%= restaurant.category.capitalize %>
            </div>
          </div>
       </div>
      <% end %>
    </div>
  </div>

  <div class="map-container">
    <div
      id="map"
      class="map"
      style="width: 100%;
      height: 500px;"
      data-markers="<%= @markers.to_json %>"
      >
    </div>
  </div>

</div>
