<p data-order-item-id="<%= order_item.id %>"> desktop <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, order_item_path(order_item), method: :delete, remote: true %> <span class="order-i"><%= order_item.item.name %><span class= "price-i text-right"> <%= order_item.item.price%> € </span></span> </p>
