.banimage{
  background-image:url('https://previews.123rf.com/images/rvlsoft/rvlsoft1210/rvlsoft121000060/15802816-big-hamburger-on-white-background.jpg');
  opacity: 0.4;

}

.banner {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  background-color: white;
  justify-content: center;

}

.banner h3 {
  font-size: 30px;
  font-weight: 100;
  color: $lblue-easyfork;
}

.banner p {
  font-size: 20px;
  font-weight: lighter;
  opacity: 1;
  color: $dgrey-easyfork;
}

.banner h1{
  color: #555454;
  font-family: Rubik;
  font-weight: 400;
  font-size: 40px;
  margin: 0px;
}

.banner h4{
  color: $orange-easyfork;
  font-family: Rubik;
  font-weight: 500;
  font-size: 60px;
  text-align: center;
}

.row h2{
  color: $lblue-easyfork;
}

.bannernew{
  height: 120vh;
  background-size: cover;
  margin-top: -25px;
}

.bannernew h1{
  color: white;
  margin-top: 20px;
  padding-top: 40px;
  font-family: Rubik;
  font-size: 35px;
}

.resto-infos{
  width: 400px;
  height: 200px;
  background: rgba(250,250,250,1);
  border-radius: 5px;
  margin-left: 50px;
  color: black;
  font-weight:100;
  padding: 10px;
  margin-right: 50px;
  background-color: $light-gray;
  opacity: 0.9;
}

.resto-infos-edit-bill{
  height: 280px;
  width: 400px;
  background: rgba(250,250,250,1);
  border-radius: 5px;
  margin-left: 50px;
  color: black;
  font-weight:100;
  padding: 10px;
  margin-right: 50px;
  background-color: $light-gray;
  opacity: 0.9;
}


.resto-infos-order{
  height: 120px;
  width: 350px;
  background: rgba(250,250,250,1);
  border-radius: 5px;
  margin-left: 50px;
  color: black;
  font-weight:100;
  padding: 10px;
  margin-right: 100px;
  background-color: $light-gray;
  opacity: 0.9;
}

.resto-infos h3{
  font-weight: 300;
}

.banner-resto {
  color: white;
  text-align: center;
  height: 50vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  background-color: white;
  justify-content: space-between;


}

.banner-resto p {
  font-size: 20px;
  font-weight: 100;
  opacity: 1;
  color: black;
  font-family: Open Sans;
}

.banner-resto h3{
  color: $dblue-easyfork;
  text-align: center;
  font-weight: 100;
}

.banner-resto h4{
  color: #2E6C7D;
  }

.open-time{
  margin-top: 10px !important;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
