.btn-blue{
  margin: 10px;
  border-radius: 5px;
  color:white;
  background: #2E6C7D;
  opacity: 0.8;
  &:hover{
    background:#0E2C40;
    color:white;
  }
}

.show .dropdown-content {
  display: block !important;
  z-index: 100;
}

.btn-menu{
  color:$dblue-easyfork;
  background: $lgrey-easyfork;
    &:hover{
    background:#0E2C40;
    color: black;

  }
}

.btn-grey{
background: #FAFAFA;
color: grey;

}



.btn-add-images{
  margin: 15px;
  border-radius: 5px;
  color:white;
  background: #2E6C7D;
  opacity: 0.8;
  font-size: 18px;
  padding: 12px;

  &:hover{
    background:#0E2C40;
    color:white;
  }
}
