.card-home{
  color:pink;
  height: 100px;
}

.card-how-it-works {
  height: 250px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  background-color: pink;
}
