.card-home{
  color:green;
  height: 100px;
}

.card-how-it-works {
  height: 250px;

  background-size: cover !important;
  background-position: center;

  position: relative;

}

.card-how-it-works p{
    color: black;
}


div.how-icon{
  justify-content: center;
  text-align: center;
}

.how-text{
  height: 50%;
  width: 100%;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.arrow{
position: relative;

}
