.search-time-box{
  width: 1000px;
  margin-top: 35px;
}

.box-category{

  width: 20%;
  height: 50px;
}

.box-date{

  width: 15%;
  height: 50px;
}

.box-time{

  width: 10%;
  height: 50px;
}

.box-nb-people{

  width: 20%;
  height: 50px;
}
.box-search{

  width: 30%;
  height: 50px;
}

.btn-grey{
  width: 180px;
}
