// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
@import "config/utilities";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";

.container{
  background: white;
  border-top: 0.1px solid #F1F1F1;
}

body{
  background: white;
}


h1{
  color: #2E6C7D;
  font-size: 35px;
  padding: 40px;
  font-family: Rubik;
}

h2{
  font-family: Rubik;
  margin: 40px;
  color: $lblue-easyfork;
}


.container-search{
  margin-left: auto;
  margin-right: auto;
  width: 18em;
 }


.black{
  color: grey;
  font-size: 12px;
}



