<h1>Images#new</h1>


<div class="container-form">
  <%= simple_form_for [@restaurant, @image] do |f| %>

  <%= f.input :content %>
  <%= f.input :content_cache, as: :hidden %>
    <div class="text-center"> <%= f.button :submit, class: 'btn btn-blue' %> </div>
  <% end %>
</div>
